*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(238, 238, 238);
}
.navigation_bar{
    height: 9vh;
    width: 100vw;
    background-color: rgb(34, 40, 49);
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttons{
    height: 8vh;
    width: 22vw;
    border-radius: 10px;
    border: 2px solid rgba(49, 54, 63, 0.56);
    background-color: rgba(49, 54, 63, 0);
    font-size: 2vh;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.buttons:focus{
    border-color: rgb(118, 171, 174);
}
#get_started{
    display: block;
    height: 9vh;
    width: 40vw;
    font-size: 2.6vh;
    color: #76ABAE;
    background-color: rgba(118, 171, 174, 0);
    border: 2px solid rgb(118, 171, 174);
    border-radius: 10px;
    position: absolute;
    top: 80vh;
    left: 5vw;
}
.hello_text{
    background-color: rgba(49, 54, 63, 0.681);
    height: 25vh;
    width: 100vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
    position: absolute;
}
.hello{
    position: absolute;
    font-size: 9vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 171, 174);
    top: 4vh;
    left: 2vw;
}
.paragraph{
    height: 20vh;
    position: absolute;
    top: 40vh;
    z-index: 10;
}
.text{
    font-size: 3.3vh;
}